body {
  font-family: TT Commons;
}

p {
  margin: 0px;
  font-size: 20px;
  color: #222222;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  color: #222222;
}

ul {
  font-weight: 400;
  font-size: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #222222;
}

li {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: #222222;
  font-weight: 600;
}

a:hover {
  color: #777777;
  transition: all 250ms ease;
}

.container {
  margin: 100px auto;
  width: 500px;
  height: 510px;
  border-radius: 30px;
  background: #f0f0f0;
  box-shadow: inset 6px 6px 9px #bababa, inset -6px -6px 9px #ffffff;
}

.container2 {
  color: #696969;
  margin: 10px auto;
  border-radius: 30px;
  background: linear-gradient(145deg, #d5d5d557, #fefefe17);
  box-shadow: inset 1px 1px 3px #bababaa4, inset -1px -1px 3px #ffffff;
  border: white;
}

.week {
  font-weight: 600;
  text-align: center;
  color: #222222;
  font-size: 20px;
}

.max {
  text-align: center;
  color: #222222;
  font-size: 20px;
}

.min {
  text-align: center;
  color: #808080;
  font-size: 20px;
}

.mintemp {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

.maxtemp {
  position: relative;
  right: 0px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

.currentLocation {
  margin: 10px auto;
  border-radius: 20px;
  background: linear-gradient(145deg, #d5d5d5c2, #fefefe9a);
  box-shadow: inset 1px 1px 3px #bababaa1, inset -1px -1px 3px #ffffff;
  border: white;
  width: 30px;
  height: 30px;
  color: #777777;
}

.form-control {
  margin: 10px auto;
  border-radius: 20px;
  background: linear-gradient(145deg, #d5d5d5c2, #fefefe9a);
  box-shadow: inset 1px 1px 3px #bababaa1, inset -1px -1px 3px #ffffff;
  border: white;
  width: 150px;
  height: 30px;
}
.card-img {
  position: relative;
  top: -40px;
}
